/*----------------------------------------------------------------------------
    Generic
----------------------------------------------------------------------------*/
html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Element - Base
------------------------------------------------------------------------------*/

.wrapper {
   max-width: 1000px;
   margin: 0 auto;
}


body {
   font-family: 'Dosis', sans-serif;
   font-family: 'Roboto', sans-serif;
   
}


/*------------------------------------------------------------------------------
   Element - Typographie
------------------------------------------------------------------------------*/
h1 {
   font-size: 43px;
   color: #000000;
  
}

h2 {
   font-size: 36px;
   color: #000000;
}

h3 {
   font-size: 24px;
   color: #000000;
}



/*------------------------------------------------------------------------------
   Composantes / Modules
------------------------------------------------------------------------------*/

/* header */
/*------------------ Header-------------------------------------- */
header {
   background-color: #FFFFFF;
   padding-top: 36px;
   padding-bottom: 36px;
}


header .wrapper{

   display: flex;
   justify-content: space-between;
   align-items: center;
}
/*------------------ Header-------------------------------------- */


/*------------------ Logo-------------------------------------- */
.logo{
   display: flex;
   align-items: center;
}

/*------------------ Logo-------------------------------------- */



/*------------------ Menu-------------------------------------- */

.menu{
   display: flex;
   justify-content: flex-end;
   gap: 30px;
   list-style: none;
   text-transform: uppercase;
   font-weight: bold;
   
}

a{
   text-decoration: none;   
   padding: 10px 10px 4px 4px; 
   color: #000000;
   
   
   
   
}

.menu a:hover{

   background-color: #0E5EA1;
   border-radius: 5px;
   color: #FFFFFF;
  
   
}
/*------------------ Menu-------------------------------------- */

/*------------------ Section Hero-------------------------------------- */

.hero{
background-image: url(../images/montagnes-alpes.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position:0 100%; 


}
.hero .wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 450px;
}


.boite{
   background-color: rgba(0, 0, 0, 0.5);
}








/* footer */
